* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

.center{
    text-align: center;
}

.space {
    padding: 30px;
}

h1 {
    margin-bottom: 20px;
    color: #4a4a4a;
}

.calculator {
    width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.j-content {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
}

button {
    background-color: #007bff;
    color: white;
    border-radius: 15px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#exp {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
    color: #555;
}
